.container_padre {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #444;
  background-color: #f6f6f6;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

input[type="number"] {
  padding: 0.75rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  width: 200px;
  box-sizing: border-box;
  background-color: #eee;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="number"]:focus {
  outline: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.container_hijo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selection {
  padding: 1rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-color: #eee;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.selection:focus {
  outline: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.changet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 10%;
}

.object {
  font-size: 1.25rem;
  margin-top: 1rem;
  text-align: center;
}
